*{
	padding: 0opx;
	margin:0px;
	b
}

body{
      color: white;
      font-family: sans-serif;
      background-image: url(giving2.jpg);
      background-repeat: no-repeat;
      /*width: 100%;*/
      background-size: cover;
      height: 100vh;
    }
#timer{
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 20px;
   /*background-color: white;*/
    color: white;
    word-spacing: 50px;
}

.navbar{
  margin: 20px;
  display: flex;
  justify-content: space-around;
  font-weight: bold;

}

.list-item{
  list-style: none;
  display: flex;
  gap: 10px;
  margin: 10px;
  font-size: 15px;
}

button{
  border-radius: 6px;
  border: none;
  background-color: blue;
  font-size: 15px;
  font-weight: bold;
  color: white;
  padding: 10px;
}


.text{
  display: flex;
  justify-content: center;
  margin: 100px;
}
.text h2{
  width: 700px;
  font-size: 55px;
  font-family: calibri;
  
}

.detail{
  display: flex;
  justify-content: center;
}
.detail p{
  font-weight: bold;
}

.video{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  font-weight: bold;
  gap: 10px;
}
span{
  padding-left: 25px;
  ali
}

#icon{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: purple;
  width: 50px;
  height: 50px;
  border-radius: 60px;
}